@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #161624;
  --secondback: #f3f4f6;
  --background-start: #ffffff; /* Indigo-600 */
  --background-middle: #efebf2; /* Purple-600 */
  --background-end: #f1efef; /* Pink-500 */
}

.dark {
  
    --background: #161624;
    --foreground: #ededed;

    --secondback: #1f2937;
    --background-start: #161624;
    --background-middle: #202440;
    --background-end: #1a1a2e; /* Darker shades */

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
html, body {
  height: 100%;
}
.secondcolor{
  color: var(--foreground);
  background: linear-gradient(to top, var(--background-start), var(--background-end));
}
.frontcolor{
  color: var(--foreground);
  background: var(--background);
}
input{
  color: #161624;
}
textarea{
  color: #161624;
}
/* Optional: Use Tailwind's dark mode classes  
.dark {
  --background: #12155a;
  --foreground: #ededed;
}*/